div {
    width: 100px;
    height: 100px;
    background-color: rgba(1, 1, 1)
}
div {
    width: 100px;
    height: 100px;
    background-color: rgba(19, 18, 18, 1)
}
div {
    width: 100px;
    height: 100px;
    background-color: rgba(36, 35, 35, 50%)
}
