div {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
}
#square1 {
    background-color: rgba(0, 0, 0, 100%);
}
#square2 {
    background-color: rgba(0, 0, 0, 50%);
}
#square3 {
    background-color: rgba(0, 0, 0, 30%);
}
#square4 {
    background-color: rgba(0, 0, 0, 20%);
}