div {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0)
}
div {
    width: 100px;
    height: 100px;
    background-color: rgba(19, 18, 18, 0)
}
div {
    width: 100px;
    height: 100px;
    background-color: rgba(36, 35, 35, 0)
}
div {
    width: 100px;
    height: 100px;
    background-color: rgba(52, 54, 54, 0)
}